In [18]:
#3-3-30
userName = input("이름 ==> ")
userPhone = input("전화번호 ==> ")
print("제 이름은 ", userName, "이고, 연락처는", userPhone, "입니다.")
print("이승열")
print("학번: 211833")

제 이름은  이승열 이고, 연락처는 01020736631 입니다.
이승열
학번: 211833

In [19]:
#4-1-9
score = int(input("필기 시험점수를 입력하세요 ==>"))
print(score >= 70)
print("이승열")
print("학번: 211833")

True
이승열
학번: 211833

In [20]:
#4-1-16
sales = 0
sales -= 600*10   # 삼각김밥 (600원) 10개 구입
sales -= 400*15   # 바나나우유 (400원) 15개 구입
sales -= 500*20   # 콜라(500원) 20개 구입
sales += 1200*10  # 삼각김밥(1200원) 10 개 판매
sales += 1000*10  # 바나나우유 (1000원) 10개 판매
sales += 1100*13  # 콜라(1100원) 13개 판매
print("오늘 총 매출액은 ", sales,"원입니다.")
print("이승열")
print("학번: 211833")

오늘 총 매출액은  14300 원입니다.
이승열
학번: 211833

In [21]:
#4-1-26
num = 99
print((num > 100) and (num < 200)) # False
print((num == 99) or (num == 100)) # True
print(not(num == 100)) # True
print("이승열")
print("학번: 211833")

False
True
True
이승열
학번: 211833

In [22]:
#4-2-7
# 7쪽: type() 함수를 이용한 데이터형 확인 [2]
var1 = 100
print(type(var1)) # <class 'int'>

var2 = 3.14
print(type(var2)) # <class 'float'>

var3 = "파이썬"
print(type(var3)) # <class 'str'>

var4 = True
print(type(var4)) # <class 'bool'>

# 8쪽: 변수의 데이터형 변화 [2, 3]
var1 = "Hello"
print(type(var1)) # <class 'str'>

# 9쪽: 정수형 크기 제한 없음 [3]
var1 = 100**100
print(var1)

# 10쪽: 숫자 데이터형 연산 [4]
var1_int = 100
var2_int = 200
res_int = var1_int + var2_int
print(res_int) # 300
print(type(res_int)) # <class 'int'>

var1_float = 100.0
var2_float = 200.0
res_float = var1_float + var2_float
print(res_float) # 300.0
print(type(res_float)) # <class 'float'>

var1_mix_int = 100
var2_mix_float = 200.0
res_mix = var1_mix_int + var2_mix_float
print(res_mix) # 300.0
print(type(res_mix)) # <class 'float'>

var1_div = 100
var2_div = 200
res_div = var1_div / var2_div
print(res_div) # 0.5
print(type(res_div)) # <class 'float'>
print("이승열")
print("학번: 211833")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
300
<class 'int'>
300.0
<class 'float'>
300.0
<class 'float'>
0.5
<class 'float'>
이승열
학번: 211833

In [23]:
#4-3-6
print("\n줄바꿈\n연습 ")
print("\t탭키\t연습")
print("어떤 글자를 \"강조\"하는 효과1")
print("어떤 글자를 \'강조\'하는 효과2")
print("\\\\ 백슬래시 2개 출력")
print("이승열")
print("학번: 211833")
# 추가: 오류 발생 코드 (참고용, 실제 실행 시 오류 발생) [5]
# print("\안녕하세요") # SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes
# print("\ ") # SyntaxError: unexpected character after line continuation character
# print("\") # SyntaxError: EOL while scanning string literal

줄바꿈
연습
	탭키	연습
어떤 글자를 "강조"하는 효과1
어떤 글자를 '강조'하는 효과2
\\ 백슬래시 2개 출력
이승열
학번: 211833

In [24]:
#4-3-12
var1 = input("첫 번째 문자열 ==>")
var2 = input("두 번째 문자열 ==>")

len1 = len(var1)
len2 = len(var2)

diff = len1 - len2

print("두 문자열의 길이 차이는", diff, "입니다.")
print("이승열")
print("학번: 211833")

두 문자열의 길이 차이는 2 입니다.
이승열
학번: 211833

In [25]:
#4-3-20
ss = input("길이가 4인 문자열을 입력해주세요 :")
print("원본 :", ss)

ss_r = ss[3]+ss[2]+ss[1]+ss[0]
print("거꾸로 :", ss_r)
print("이승열")
print("학번: 211833")

원본 : 반가워요
거꾸로 : 요워가반
이승열
학번: 211833

In [26]:
# Homework 02-1

# 1) 두 문자열 입력
str1 = input("첫 번째 문자열을 입력하세요: ")
str2 = input("두 번째 문자열을 입력하세요: ")

# 2) 각 문자열 길이
len1 = len(str1)
len2 = len(str2)
print(f"① 첫 번째 문자열 길이: {len1}")
print(f"   두 번째 문자열 길이: {len2}")

# 3) 길이 차이
print(f"② 두 문자열 길이 차이: {abs(len1 - len2)}")

# 4) 두 문자열 연결
combined = str1 + str2
print(f"③ 연결된 문자열: {combined}")

# 5) 연결된 문자열을 거꾸로 출력
print(f"④ 거꾸로 출력: {combined[::-1]}")
print("이승열")
print("학번: 211833")

① 첫 번째 문자열 길이: 5
   두 번째 문자열 길이: 5
② 두 문자열 길이 차이: 0
③ 연결된 문자열: helloworld
④ 거꾸로 출력: dlrowolleh
이승열
학번: 211833

In [27]:

# Homework 02-2

# 1) 두 정수 입력
a = int(input("\n첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))

# 2) 기본 사칙연산 및 나머지
print(f"① 합  : {a + b}")
print(f"   차  : {a - b}")
print(f"   곱  : {a * b}")

if b != 0:                      # 0으로 나눌 수 있는지 확인
    print(f"   몫  : {a // b}")
    print(f"   나머지: {a % b}")
else:
    print("   두 번째 숫자가 0이어서 몫과 나머지를 계산할 수 없습니다.")

# 3) (두 수의 합)²
print(f"② (합)의 제곱: {(a + b) ** 2}")
print("이승열")
print("학번: 211833")

① 합  : 30
   차  : -10
   곱  : 200
   몫  : 0
   나머지: 10
② (합)의 제곱: 900
이승열
학번: 211833